<li class="callout secondary">
  <h5>Working hours</h5>
  <p>
    It was not possible to check working hours because this advert is not using the schema.org jobPosting standard.
  </p>
</li>
<li class="callout secondary">
  <h5>Working location</h5>
  <p>
    It was not possible to check working hours because this advert is not using the schema.org jobPosting standard.
  </p>
</li>
<li class="callout secondary">
  <h5>Salary information</h5>
  <p>
    It was not possible to check the salary because this advert is not using the schema.org jobPosting standard.
  </p>
</li>
<li class="callout secondary">
  <h5>Reuse and licensing</h5>
  <p>
    It was not possible to check for reuse and licensing because this advert is not using the schema.org jobPosting standard.
  </p>
</li>
<li class="callout secondary">
  <h5>Gender-coded language</h5>
  Sorry, it was not possible to check for gender-coded language because this advert is not using the schema.org jobPosting standard.
</li>
<li class="callout secondary">
  <h5>Readability</h5>
  Sorry, it was not possible to check for gender-coded language because this advert is not using the schema.org jobPosting standard.
</li>