{% extends "base.html" %}
{% block content %}
  <section class="row">
    <div class="columns">
        <h2>About this site</h2>

        <p class="lead">Job hunters want great services to find jobs - ones that
        list every job there is, with accurate up to date details, and
        alerts when new ones appear.</p>

        <p>Unfortunately, this isn't possible because employers and job sites publish
        very low quality job adverts. Salaries, geographical location, skills needed
        are unclear and inconsistent. They can't be easily reused by other sites
        and apps.</p>

        <p>There is an international standard (called <a href="https://schema.org/JobPosting">
          schema.org JobPosting</a>) for publishing job adverts with proper
        data. Open Jobs checks a jobs website to see if it is using that standard. We
        award Gold, Silver and Bronze grades to sites which pass.
        </p>

        <h3>Readability</h3>
        <a href="https://en.wikipedia.org/wiki/Flesch–Kincaid_readability_tests">
            Flesch–Kincaid readability tests
        </a>
        This is important because ...

    </div>
  </section>
{% endblock %}