<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message  in messages %}
        <div class="alert-box alert">
          {{ message }}&nbsp;
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <header role="banner"  class="row">
    <div class="small-12 columns">
      <h1>
        <a href="{{url_for('index')}}">Better Job Adverts</a>
        <small class="status"><span>Alpha</span></small>
      </h1>
      <nav role="navigation">
        <ul class="menu">
          <li{% if menu_item == 'index'%} class="active"{% endif %}>
            <a href="{{url_for('index')}}">Tools</a>
          </li>
          <li{% if menu_item == 'league-tables'%} class="active"{% endif %}>
            <a href="{{url_for('league_tables')}}">League tables</a>
          </li>
          <li{% if menu_item == 'about'%} class="active"{% endif %}>
            <a href="{{url_for('about')}}">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main role="main">
    {% block content %}{% endblock %}
  </main>
  <footer class="row">
    <div class="columns small-4">
      <a href="https://doteveryone.org.uk">
        <img src="{{url_for('static', filename='images/doteveryone-red.svg')}}" alt="Doteveryone Logo" width="200px"/>
      </a>
    </div>
    <div class="columns small-8">
      This is a project of <a href="https://doteveryone.org.uk">Doteveryone</a> The code is available under a <a rel="license" href="http://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a> and content is reusable under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International licence</a>.
    </div>
  </footer>
</body>
