<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" />
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/foundation-sites/foundation.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/modernizr/modernizr.min.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/main.js')}}"></script>
    <title>{% block title %}{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message  in messages %}
        <div class="alert-box alert">
          {{ message }}&nbsp;
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <header class="row">
    <div class="small-12 large-8 large-offset-1 columns">
      <h1>
        <a href="{{url_for('index')}}">Better Job Adverts</a>
        <small class="product-status"><span>Alpha</span></small>
      </h1>
      <nav>
        <ul class="menu">
          <li{% if menu_item == 'tools'%} class="active"{% endif %}>
            <a href="{{url_for('index')}}">Check an advert</a>
          </li>
          <li{% if menu_item == 'api'%} class="active"{% endif %}>
            <a href="{{url_for('api')}}">API</a>
          </li>
          <li{% if menu_item == 'report'%} class="active"{% endif %}>
            <a href="{{url_for('report')}}">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class="row">
      <div class="columns small-12 large-6">
        <p class="logo float-left">
          <a href="https://doteveryone.org.uk">
            <img src="{{url_for('static', filename='images/doteveryone-red.svg')}}" alt="Doteveryone Logo"/>
          </a>
        </p>
        This is a project of <a aria-label="Dot everyone" href="https://doteveryone.org.uk">Doteveryone</a>. The <a href="https://github.com/Doteveryone/BetterJobAdverts">code</a> is available under a <a rel="license" href="http://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a> and content is reusable under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International licence</a>.
      </div>
    </div>
  </footer>
</body>
