{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block content %}
  <div class="row">
    <div class="product-message columns medium-8 large-8 large-offset-1">
      <p>
        <strong>Feedback:</strong> help us improve this service by <a href="https://github.com/Doteveryone/BetterJobAdverts/issues">reporting any bugs or suggestions</a>
      </p>
    </div>
  </div>
  {% if error %}
    <div class="row">
      <div class="columns medium-8 large-8 large-offset-1">
        <p>{{error}}</p>
      </div>
    </div>
  {% else %}  
    <section class="row">
      <div class="columns medium-8 large-8 large-offset-1">
        <h2>Results for an advert for <em>'{{parser.job_advert.title}}'</em>{% if url%} at <em>{{url|urlize(40, true)}}</em>{% endif %}</h2>

        <ul class="no-bullet">
          {# jobPosting schema #}
          <li class="callout {{parser.get_result('valid-jobposting')['result']|format_status}}">
            <h5>jobPosting standard</h5>
            {% if parser.get_result('valid-jobposting')['result'] == 'yes' %}
              <div class="stat">Yes</div>
              <code>{{parser.job_advert.publishing_format}}</code>
              <p>
                This job advert uses the <a href="http://schema.org/JobPosting">jobPosting standard</a> from schema.org.
            {% elif parser.get_result('valid-jobposting')['result'] == 'incomplete' %}
              <div class="stat">Incomplete</div>
              <code>{{parser.job_advert.publishing_format}}</code>
              <p>
                This job advert uses the <a href="http://schema.org/JobPosting">jobPosting standard</a> from schema.org, but is missing either a <code>description</code>, <code>jobLocation</code>, <code>salaryCurrency</code> or <code>employmentType</code> field.
              </p>
              <p>
            {% else %}
              <div class="stat">No</div>
                {% if parser.job_advert.publishing_format %}
                  <code>{{parser.job_advert.publishing_format}}</code>
                {% endif %}
                <p>
                  This job advert does not use the <a href="http://schema.org/JobPosting">jobPosting standard</a> from schema.org.
            {% endif %}
              jobPosting helps publishers add structured data to their job adverts, about things like location and salary, and makes it easier for search engines to reuse. It has been adopted by the UK and US governments.
            </p>
          </li>

          {# Everything else #}
          {% if parser.get_result('valid-jobposting')['result'] in ['yes', 'incomplete'] %}
            {% include '_check_jobposting.html' %}
          {% else %}
            {% include '_check_non_jobposting.html' %}
          {% endif %}


        </ul>
      </div>
    </section>
  {% endif %}
{% endblock %}