{% extends "base.html" %}
{% block title %}Doteveryone - Better Job Adverts{% endblock %}
{% block content %}
  <div class="row">
    <div class="columns medium-8 large-6 large-offset-1">
      <p class="lead">
        Poor quality job adverts fail job hunters and employers. This tool checks job adverts against the <a href="https://schema.org/JobPosting">schema.org jobPosting standard</a> and other checks.
      </p>
    </div>
  </div>
  <section class="row">
    <div class="columns medium-8 large-6 large-offset-1">
      <h2>Check an existing advert</h2>
      <form method="get" action="{{url_for('check')}}">
        <label for="url">Enter a URL</label>
        <div class="input-group">
          <input name="url" id="url" type="url" placeholder="http://" class="input-group-field" />
          <div class="input-group-button">
            <button type="submit" class="button">Go</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="row">
    <div class="columns medium-8 large-6 large-offset-1">
      <h2>Check HTML</h2>
      <label for="html">Enter some HTML</label>
      <form method="post" action="{{url_for('check')}}">
        <textarea name="html" id="html" rows="4"></textarea>
        <button type="submit" class="button expanded">Go</button>
      </form>
    </div>
  </section>
    <section class="row">
    <div class="columns medium-8 large-6 large-offset-1">
      <h3>Who supports schema.org jobPosting?</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Support</th>
          </tr>
        </thead>
        <tbody>
        {% for organisation in jobposting_support %}
          <tr>
            <td><a href="{{organisation['url']}}">{{organisation['name']}}</a></td>
            <td>{{organisation['support']}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><a href="https://raw.githubusercontent.com/Doteveryone/BetterJobAdverts/master/jobcert/data/jobposting-support.json">You can download this data</a>. To add a website to this list, <a href="https://github.com/Doteveryone/BetterJobAdverts/blob/master/jobcert/data/jobposting-support.json">please create a pull request.</a></p>
    </div>
  </section>
{% endblock %}