{% extends "base.html" %}
{% block content %}
  <section class="row">
    <div class="large-8 columns">
      <h2>League table</h2>
      <p class="lead">
        This table shows a 3 month average scores reached by publishers of job adverts.
      </p>
    </div>
  </section>
  <section class="row collapse">
    <table class="large-8 columns">
      <thead>
        <tr>
          <th>Name</th>
          <th width="200">Average score</th>
        </tr>
      </thead>
      <tbody>
        <tr class="supported">
          <td><a href="http://www.w4mp.org">W4MP</a></td>
          <td>78%</td>
        </tr>
        <tr>
          <td><a href="http://www.totaljobs.com/">Total Jobs</a></td>
          <td>32%</td>
        </tr>
      </tbody>
    </table>
  </section>
{% endblock %}