{% extends "base.html" %}
{% block content %}
  <section class="row">
    <div class="product-message columns medium-8 large-8 large-offset-2">
      <p>
        <strong>Feedback:</strong> help us improve this service by <a href="https://github.com/Doteveryone/BetterJobAdverts/issues">reporting any bugs or suggestions</a>
      </p>
    </div>
  </section>
  {% if error %}
    <section class="row">
      <div class="columns medium-8 large-8 large-offset-2">
        <p>{{error}}</p>
      </div>
    </section>
  {% else %}
    <section class="row">
      <div class="columns medium-8 large-8 large-offset-2">
        <ul class="no-bullet">
          {# jobPosting schema #}
          {% if parser.get_result('valid-jobposting')['result'] == True %}
            <li class="callout success">
              <h5>jobPosting standard</h5>
              <div class="stat">Yes</div>
              This advert uses the jobPosting schema. This is good because ...
            </li>
          {% else %}
            <li class="callout alert">
                <h5>jobPosting schema</h5>
                This advert does not use the jobPosting schema. This is bad because ...
            </li>
          {% endif %}

          {# Licensing #}
          {% if parser.get_result('creative-commons-licence')['result'] %}  
            <li class="callout success">
              <h5>Licensing</h5>
              <div class="stat">Yes</div>
              This job advert appears to be licensed under a Creative Commons licence. This is good because ... 
            </li>
          {% else %}
            <li class="callout alert">
              <h5>Licensing</h5>
              <div class="stat">No</div>
              This job advert does not appear to have a Creative Commons licence associated with it.  This is bad because ...
            </li>
          {% endif %}

          {# Salary #}
          {% if parser.get_result('salary-clarity')['result'] == 'clear' %}  
            <li class="callout success">
              <h5>Salary information</h5>
              <div class="stat">Yes</div>
              This job advert has clear information about the salary an applicant can expect. This is good because ... 
            </li>
          {% elif parser.get_result('salary-clarity')['result'] == 'unclear' %}
            <li class="callout warning">
              <h5>Salary information</h5>
              <div class="stat">Unclear</div>
              This job advert does not appears to include some information about salary, but not a monetary amount. This is bad because ...
            </li>
          {% else %}
            <li class="callout alert">
              <h5>Salary information</h5>
              <div class="stat">Missing</div>
              This job advert does not appear to have any information about the salary an applicant can expect.  This is bad because ...
            </li>
          {% endif %}

          {# Location #}
          {% if parser.get_result('has-location')['result'] %}  
            <li class="callout success">
              <h5>Location information</h5>
              <div class="stat">Yes</div>
              This job advert has clear information about the location an applicant can expect to work. This is good because ... 
            </li>
          {% else %}
            <li class="callout alert">
              <h5>Location information</h5>
              <div class="stat">No</div>
              This job advert does not appear to have clear information about the location an applicant can expect to work.  This is bad because ...
            </li>
          {% endif %}

          {# Gender-coded language #}
          {% if parser.get_result('gender-coded-language')['result'] %}
            <li class="callout {{parser.get_result('gender-coded-language')['result']|gender_coded_status}}">
              <h5>Gender-coded language</h5>
              <div class="stat">
                {{parser.get_result('gender-coded-language')['result']|title}}
              </div>
              {{parser.get_result('gender-coded-language')['explanation']}}
            </li>
          {% endif %}

          {# Readability #}
          {% if parser.get_result('flesch-reading-ease')['result'] %}
              <li class="callout {{parser.get_result('flesch-reading-ease')['result']|readability_status}}">
                <h5>Readability</h5>
                <div class="stat">{{parser.get_result('flesch-reading-ease')['result']|readability_words}}</div>
                This is bad because ... Here's what you can do about it.
              </li>            
          {% else %}
            <li class="callout secondary">
              <h5>Readability</h5>
              Sorry, it was not possible to calculate a readability score because the description was too short.
            </li>
          {% endif %}

        </ul>
      </div>
    </section>
  {% endif %}
{% endblock %}